<div>
  <div class="well">
    <button ng-show="model.items.length <= 1"
      class="btn btn-success pull-right" ng-click="model.addItem()">
      <span><i class="fa fa-plus"></i> Add {{model.itemType}}</span>
    </button>
    <button ng-show="!model.fixed && model.items.length > 1"
      class="btn btn-success pull-right" ng-click="model.showChoices=true">
      <span><i class="fa fa-list"></i> Change</span>
    </button>
    <p ng-show="model.items.length == 0">None found.</p>
    <div ng-if="model.items.length >= 1" ng-multi-transclude-controller>
      <div ng-transclude="br-selector-selected"
        ng-multi-transclude="br-selector-selected"></div>
    </div>
  </div>
  <stackable-modal stackable="model.showChoices"
    br-lazy-compile="model.showChoices" br-lazy-id="br-selector-modal">
    <br-modal br-title="{{model.modalTitle || ('Select ' + model.itemType)}}">
      <br-modal-body>
        <div ng-multi-transclude-controller>
          <div ng-transclude="br-selector-choices"
            ng-multi-transclude="br-selector-choices"></div>
        </div>
        <hr ng-show="model.items.length <= 1 || (!model.fixed && model.items.length > 1)"/>
        <div class="pull-right">
          <button class="btn btn-success" ng-click="model.addItem()">
            <i class="fa fa-plus"></i> Add {{model.itemType}}
          </button>
        </div>
        <div style="clear:both"></div>
      </br-modal-body>
    </br-modal>
  </stackable-modal>
</div>
